<section ng-controller="TeachersController" ng-init="find()">
  <div class="page-header">
    <h3>Visualizzazione amministratore con docenti sospesi o fittizzi</h3>
  </div>
  <div class="col-md-4">
  <div class="form-group">
    <label class="label label-default">Ricerca per nome docente</label>
    <hr/>
    <input type="text"  ng-model="search" typeahead="teacher as teacher.name for teacher in teachers | filter: $viewValue"  class="form-control" typeahead-on-select="teacherSearch($item)" placeholder="Cerca docente...">
  </div>
  <div class="list-group">
    <a ng-repeat="teacher in teachers |orderBy:'name' | limitTo: offset - teachers.length | limitTo: pageSize"  ui-sref="teachers.view({teacherId: teacher._id})" class="list-group-item" num-pages="numPages()">
       {{teacher.name}} <span class="pull-right glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
   <pagination boundary-links="true" total-items="teachers.length" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" ng-show="teachers.length > pageSize"></pagination>
</div>
</section>
