<section ng-controller="TimetablesController" ng-init="showAvailability()">
  <div class="page-header">
    <h3>Quadro settimanale disposizioni</h3>
  </div>
  <div class="container">
     <div class="row">
       <table class="table table-bordered">
	    <thead > 
	      <tr>
		<th style="width:5%">ora</th>
		<th style="width:19%">lunedi</th>
		<th style="width:19%">martedi</th>
		<th style="width:19%">mercoledi</th>
		<th style="width:19%">giovedi</th>
		<th style="width:19%">venerdi</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="disp in container">
		<td ng-bind="disp.nome_ora"></td>
		<td ng-bind="disp.lunedi.join(', ')"></td>
		<td ng-bind="disp.martedi.join(', ')"></td>
		<td ng-bind="disp.mercoledi.join(', ')"></td>
		<td ng-bind="disp.giovedi.join(', ')"></td>
		<td ng-bind="disp.venerdi.join(', ')"></td>
	      </tr>
	    </tbody>
       </table>
     </div>
  </div>
</section>
