<section ng-controller="TeachersController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Teacher</h1>
  </div>
  <div class="col-md-8">
    <form name="teacherForm" class="form-horizontal" ng-submit="update(teacherForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="teacher.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="teacherForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Teacher name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="materia">Materia</label>
          <input name="materia" ng-model="teacher.materia" id="materia" class="form-control"  placeholder="Materia"></input>
        </div>
	<div class="form-group">
          <label for="coordinator">Coordinamento</label>
          <input name="coordinator" ng-model="teacher.coordinator" id="coordinator" class="form-control"  placeholder="Coordinator"></input>
        </div>
	<form class="horizontal-form">
	  <div class="form-group">
	    <label for="classe e indirizzo">Classe e Indirizzo</label>
            <select name="classe.name" id="classe.name"  ng-model="classe.name" class="form-control" ng-options="o as o for o in classarray" ><option value="">--</option></select>
          </div>
	  <div class="form-group">
            <select name="classe.indirizzo" id="classe.indirizzo"  ng-model="classe.indirizzo" class="form-control" ng-options="o as o for o in indirizzoarray"><option value="">--</otion></select>
</div>
<div class="form-group">
  <input ng-click="addClass()" value="add class" class="btn btn-default">
</div>
<div class="form-group">
  <table class="table table-bordered" ng-if="teacher.classes.length > 0">
    <thead>
      <tr>
	<th>Classe</th>
	<th>Indirizzo</th>
	<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="classe in teacher.classes">
	<td id="classe" ng-bind="classe.name"></td>
	<td id="classe" ng-bind="classe.indirizzo"></td>
	<td><input type="checkbox" ng-model="teacher.classes[$index].isActive" ng-change="change($index)" > uncheck to delete</td>
      </tr>
    </tbody>
  </table>
</div>
</form>
	<div class="form-group">
	  <input type="submit" value="Update" class="btn btn-default">
	</div>
	<div ng-show="error" class="text-danger">
	  <strong ng-bind="error"></strong>
	</div>
      </fieldset>
    </form>
  </div>
</section>
