<section ng-controller="TeachersController" ng-init="findOne();findc()">
  <div class="page-header">
    <h3>Modifica dati docente: {{teacher.name}}</h3>
  </div>
  <div class="col-md-8 col-xs-12">
    <form name="teacherForm" class="form-horizontal" ng-submit="update(teacherForm.$valid)" novalidate>
      <fieldset>
	<div class="form-group">
	  <span ng-switch="teacher.isActive">
	    <label class="label label-default"ng-switch-when="true" for="disable">Disabilita</label>
            <label class="label label-default"ng-switch-when="false" for="disable">Abilita</label>
	  </span>
	  <input name="disable" type="checkbox" ng-model="teacher.isActive" ng-change="change()" >
	</div>
        <div class="form-group" show-errors>
          <label class="label label-default"for="name">Cognome e Nome</label>
          <input name="name" type="text" ng-model="teacher.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="teacherForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Teacher name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="label label-default"for="materia">Materia</label>
          <input name="materia" ng-model="teacher.materia" id="materia" class="form-control"  placeholder="Materia" ng-list required>
        </div>
	<div class="form-group">
          <label class="label label-default"for="coordinator">Coordinamento</label>
          <input name="coordinator" ng-model="teacher.coordinator" id="coordinator" class="form-control"  placeholder="Coordinator">
        </div>
	<div class="form-group">
	  <label class="label label-default"for="classe e indirizzo">Classe</label>
          <select name="classe.name" id="classe.name"  ng-model="classe.name" class="form-control" ng-options="o.nome_classe as o.nome_classe for o in _classes|orderBy:'nome_classe'" ng-change="ownsubclass(classe.name)"><option value="">--</option></select>
        </div>
	<div ng-show="ownsub.length > 0" class="form-group">
	  <label class="label label-default"for="sub">Sottoclasse</label>
          <select name="classe.sub" id="classe.sub"  ng-model="classe.sub" class="form-control" ng-options="o as o for o in ownsub" ><option value="">--</option></select>
        </div>
	<div class="form-group">
	  <label class="label label-default"for="indirizzo">Indirizzo</label>
          <select name="classe.indirizzo" id="classe.indirizzo"  ng-model="classe.indirizzo" class="form-control" ng-options="o as o for o in indirizzoarray"><option value="">--</option></select>
	</div>
	<div class="form-group">
	  <input ng-click="addClass()" value="Associa classe" class="btn btn-default">
	</div>
	<div class="form-group">
	  <label class="label label-info" for="classe" ng-if="_class.length > 0">Nuove classi associate</label>
	  <table class="table table-bordered" ng-if="_class.length > 0">
	  <thead>
	    <tr>
	      <th>Classe</th>
	      <th>Indirizzo</th>
	      <th>Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="classe in _class">
	      <td ng-bind="classe.name"></td>
	      <td ng-bind="classe.indirizzo"></td>
	      <td><span ng-click="removeClass($index)" class="glyphicon glyphicon-remove-sign" ></span></td>
	    </tr>
	  </tbody>
	</table>
	 </div>
	<div class="form-group">
	  <label class="label label-default"for="classe e indirizzo" ng-if="teacher.classes.length > 0">Classi associate</label>
	  <table class="table table-bordered" ng-if="teacher.classes.length > 0">
	    <thead>
	      <tr>
		<th>Classe</th>
		<th>Indirizzo</th>
		<th>Delete</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="classe in teacher.classes">
		<td id="classe" ng-bind="classe.name"></td>
		<td id="classe" ng-bind="classe.indirizzo"></td>
		<td><span ng-click="removeupdateClass($index)" class="glyphicon glyphicon-remove-sign" ></span></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div class="form-group">
	  <input type="submit" value="Update" class="btn btn-default">
	</div>
	<div ng-show="error" class="text-danger">
	  <strong ng-bind="error"></strong>
	</div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4 col-xs-6" ng-if="alerts.length > 0">
    <div ng-repeat="alert in alerts">
      <alert  type="success"  role="alert" close="closeAlert($index)" >{{alert.msg}}
      </alert>
    </div>
    <div>
</section>
