<section ng-controller="TimetablesController" ng-init="globalTable()">
  <div class="page-header">
    <h1>Vista orario completo</h1>
  </div> 

  <table class="table table-bordered">
    <thead>
      <tr>
	<th ></th>
	<th colspan="8">lunedì</th>
	<th colspan="8">martedì</th>
	<th colspan="8">mercoledì</th>
	<th colspan="8">giovedì</th>
	<th colspan="8">venerdì</th>
      </tr>
       <tr>
	 <th >Docente</th>
	 <th>I</th>
	 <th>II</th>
	 <th>III</th>
	 <th>IV</th>
	 <th>V</th>
	 <th>VI</th>
	 <th>VII</th>
	 <th>VIII</th>
	 <th>I</th>
	 <th>II</th>
	 <th>III</th>
	 <th>IV</th>
	 <th>V</th>
	 <th>VI</th>
	 <th>VII</th>
	 <th>VIII</th> 
	 <th>I</th>
	 <th>II</th>
	 <th>III</th>
	 <th>IV</th>
	 <th>V</th>
	 <th>VI</th>
	 <th>VII</th>
	 <th>VIII</th>
	 <th>I</th>
	 <th>II</th>
	 <th>III</th>
	 <th>IV</th>
	 <th>V</th>
	 <th>VI</th>
	 <th>VII</th>
	 <th>VIII</th>
	 <th>I</th>
	 <th>II</th>
	 <th>III</th>
	 <th>IV</th>
	 <th>V</th>
	 <th>VI</th>
	 <th>VII</th>
	 <th>VIII</th>
       </tr>
     </thead>
    <tbody >
      <tr ng-repeat="teacher in globalcontainer |orderBy:'name'">
	<td ng-bind="teacher.name"></td>
	<td ng-bind="teacher.container.lunedi.I"></td>
	<td ng-bind="teacher.container.lunedi.II"></td>
	<td ng-bind="teacher.container.lunedi.III"></td>
	<td ng-bind="teacher.container.lunedi.IV"></td>
	<td ng-bind="teacher.container.lunedi.V"></td>
	<td ng-bind="teacher.container.lunedi.VI"></td>
	<td ng-bind="teacher.container.lunedi.VII"></td>
	<td ng-bind="teacher.container.lunedi.VIII"></td>

	<td ng-bind="teacher.container.martedi.I"></td>
	<td ng-bind="teacher.container.martedi.II"></td>
	<td ng-bind="teacher.container.martedi.III"></td>
	<td ng-bind="teacher.container.martedi.IV"></td>
	<td ng-bind="teacher.container.martedi.V"></td>
	<td ng-bind="teacher.container.martedi.VI"></td>
	<td ng-bind="teacher.container.martedi.VII"></td>
	<td ng-bind="teacher.container.martedi.VIII"></td>
	
	<td ng-bind="teacher.container.mercoledi.I"></td>
	<td ng-bind="teacher.container.mercoledi.II"></td>
	<td ng-bind="teacher.container.mercoledi.III"></td>
	<td ng-bind="teacher.container.mercoledi.IV"></td>
	<td ng-bind="teacher.container.mercoledi.V"></td>
	<td ng-bind="teacher.container.mercoledi.VI"></td>
	<td ng-bind="teacher.container.mercoledi.VII"></td>
	<td ng-bind="teacher.container.mercoledi.VIII"></td>
	
	<td ng-bind="teacher.container.giovedi.I"></td>
	<td ng-bind="teacher.container.giovedi.II"></td>
	<td ng-bind="teacher.container.giovedi.III"></td>
	<td ng-bind="teacher.container.giovedi.IV"></td>
	<td ng-bind="teacher.container.giovedi.V"></td>
	<td ng-bind="teacher.container.giovedi.VI"></td>
	<td ng-bind="teacher.container.giovedi.VII"></td>
	<td ng-bind="teacher.container.giovedi.VIII"></td>
	
	<td ng-bind="teacher.container.venerdi.I"></td>
	<td ng-bind="teacher.container.venerdi.II"></td>
	<td ng-bind="teacher.container.venerdi.III"></td>
	<td ng-bind="teacher.container.venerdi.IV"></td>
	<td ng-bind="teacher.container.venerdi.V"></td>
	<td ng-bind="teacher.container.venerdi.VI"></td>
	<td ng-bind="teacher.container.venerdi.VII"></td>
	<td ng-bind="teacher.container.venerdi.VIII"></td>
	
      </tr>
    </tbody>
  </table>
</section>
