<section ng-controller="AbsencesController" ng-init="find()">
  <div class="page-header">
    <h1>Absences</h1>
  </div>
  <div class="col-md-4">
  <div class="form-group">
    <input type="text"  ng-model="search" typeahead="teacher as teacher.name for teacher in teachers | filter: $viewValue"  class="form-control" typeahead-on-select="absenceSearch($item)" placeholder="Search teacher...">
  </div>
  <div class="list-group">
    <a ng-repeat="teacher in teachers | limitTo: offset - teachers.length | limitTo: pageSize " ui-sref="absences.view({teacherId: teacher._id})" class="list-group-item">
      <p class="list-group-item-text" ng-bind="teacher.name"></p>
    </a>
  </div>
  <pagination total-items="teachers.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="teachers.length > pageSize"></pagination>
  </div>
  <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
	<tr>
	<th>Data</th>
	<th>Docente</th>
	<th>Tipologia</th>
	<th>Motivo</th>
	</tr>
      </thead>
      <tbody ng-repeat="teacher in teachers">
	 <tr ng-repeat="absence in teacher.absences |orderBy:'-date'">
	  <td ng-bind="absence.date | date"></td>
	  <td ng-bind="teacher.name"></td>  
	  <td ng-bind="absence.type"></td>
	  <td ng-bind="absence.cause"></td>
	</tr>
      </tbody>
    </table>
  </div>
</section>
