<section ng-controller="TeachersController" ng-init="find()">
  <div class="page-header">
    <h3>Organico deocenti</h3>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Ricerca per nome</label>
      <input type="text"  ng-model="search" typeahead="teacher as teacher.name for teacher in teachers | filter: $viewValue"  class="form-control" typeahead-on-select="teacherSearch($item)" placeholder="Cerca docente...">
     </div>
     </div>
   <div class="col-md-8">    
  <div class="list-group">
     <a ng-show="teacher.isActive" ng-repeat="teacher in teachers |orderBy:'name'| limitTo: offset - teachers.length | limitTo: pageSize " ui-sref="teachers.view({teacherId: teacher._id})" class="list-group-item">
      <h4>Nome Docente</h4>
      <p class="list-group-item-heading" ng-bind="teacher.name"></p>
      <h4>Disciplina</h4>
      <p class="list-group-item-text" ng-bind="teacher.materia"></p>
     </a>
  </div>
  <pagination total-items="teachers.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="teachers.length > pageSize"></pagination>
  <div>
  <div class="alert alert-warning text-center" ng-if="teachers.$resolved && !teachers.length">
    No teachers yet, why don't you <a ui-sref="teachers.create">create one</a>?
  </div>
</section>
