<section ng-controller="TeachersController" ng-init="findOne()">
  <div class="page-header">
    <h3 ng-bind="teacher.name"></h3>
  </div>
  <h4><strong>Disciplina</strong></h4>
  <p class="lead" ng-bind="teacher.materia"></p>
  <div ng-switch="teacher.coordinator == ''">
    <h4 ng-switch-when="false"><strong>Coordinamento classe:</strong></h4>
    <p class="lead" ng-bind="teacher.coordinator"></p>
  </div>
  <h4><strong>Classi</strong></h4>
  <ul class="lead" ng-repeat="class in teacher.classes|orderBy:'indirizzo'|orderBy:'name'">
    <li>{{class.name}} - {{class.indirizzo}}</li>
  </ul>
  <section ng-controller="TimetablesController">
    <a ui-sref="timetables.view({teacherId: teacher._id})"><h4><span class="glyphicon glyphicon-calendar"></span> Orario settimanale</h4></a>
  </section>
  <br>
  <div ng-if="authentication.user">
    <div class="pull-right" ng-if="check('god', authentication.user.roles)||check('admin',authentication.user.roles)">
      <a class="btn btn-primary" ui-sref="teachers.edit({teacherId: teacher._id})">
	<i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();">
	<i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
</section>
