<section ng-controller="TimetablesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="teacher.name"></h1>
  </div>
   <div class="container">
    <div class="row">
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="teacher.created | date:'mediumDate'"></span>
      by
      <span ng-bind="teacher.user.displayName"></span>
    </em>
    
  </small>
  <label for="timetable">Timetable </label>
          <table  class="table table-bordered">
	    <thead > 
	      <tr>
		<th>ora</th>
		<th>lunedi</th>
		<th>martedi</th>
		<th>mercoledi</th>
		<th>giovedi</th>
		<th>venerdi</th>
	    </tr>
	    </thead>
	    <tbody > <!--"ora in ['08.00','09.00','10.00','11.00','12.00','13.00','14.00','15.00']-->
	      <tr ng-repeat="timetable in teacher.timetable">
		<td ><p>{{timetable.nome_ora}}</p></td>
		 <td><p>{{timetable.lunedi}}</p></td>
		<td><p >{{timetable.martedi}}</p></td>
		<td><p >{{timetable.mercoledi}}</p></td>
		<td><p > {{timetable.giovedi}}</p></td>
		<td><p >{{timetable.venerdi}}</p></td>
	      </tr>
	    </tbody>
	  </table>
       </div>
   </div>
    <div class="pull-right" ng-show="authentication.user._id == teacher.user._id">
    <a class="btn btn-primary" ui-sref="timetables.edit({teacherId: teacher._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

</section>
