<section ng-controller="AbsencesController" ng-init="findOne()">
  <div class="page-header">
    <h3>Assenze del docente: {{teacher.name}}</h3>
  </div>
   <div class="col-md-10">
    <h5>Riepilgo assenze</h5>
  <table class="table table-bordered" ng-if="teacher.absences.length > 0">
    <thead>
      <tr>
	<th>data</th>
	<th>tipologia</th>
	<th>motivo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="absence in teacher.absences|orderBy:'-date'">
  	<td ng-bind="absence.date | date"></td>
	<td ng-bind="absence.type"></td>
	<td ng-bind="absence.cause"></td>
      </tr>
    </tbody>
  </table>
  </div>
  <br>
  <div class="pull-right" ng-show="authentication.user._id == teacher.user._id">
    <a class="btn btn-primary" ui-sref="absences.edit({teacherId: teacher._id})">
      <i class="glyphicon glyphicon-edit"></i> inserisci 
    </a>
  </div>
</section>
