<section ng-controller="ReplacementsController" ng-init="findt()">
  <div class="page-header">
    <h3>Sostituzioni del: <span ng-bind="rep_date| date"></span></h3>
  </div>
  <div class="col-xs-12 col-md-8">
    <form name="replacementForm" class="form-horizontal" ng-submit="create(replacementForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="rep_date">Sostituzione del:</label>
          <input name="rep_date" type="date" ng-model="rep_date" id="rep_date" class="form-control"  required>
          <div ng-messages="replacementForm.rep_date.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Replacement date is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="rep.hour">Seleziona ora:</label>
          <select name="rep.hour" ng-options="hour as hour for hour in hoursarray" ng-model="rep.hour" id="rep.hour" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.classe">Seleziona classe:</label>
          <select name="rep.classe" ng-options="hour as hour for hour in classarray" ng-model="rep.classe" id="rep.classe" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.absent">Seleziona docente da sostitutire:</label>
          <select name="rep.absent" ng-options="hour.name as hour.name for hour in teachers" ng-model="rep.absent" id="rep.absent" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.substitute">Seleziona docente sostituto:</label>
          <select name="rep.substitute" ng-options="hour.name as hour.name for hour in teachers" ng-model="rep.substitute" id="rep.substitute" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <input ng-click="addRep()" value="inserisci" class="btn btn-default">
        </div>
	<div class="form-group">
	<table class="table table-bordered" ng-if="dailyreps.length > 0">
	  <thead>
	    <th>Ora</th>
	    <th>Classe</th>
	    <th>Assente</th>
	    <th>Sostituto</th>
	    <th>Delete</th>
	  </thead>
	  <tbody ng-repeat="rep in dailyreps">
	    <td ng-bind="rep.hour"></td>
	    <td ng-bind="rep.classe"></td>
	    <td ng-bind="rep.absent"></td>
	    <td ng-bind="rep.substitute"></td>
	    <td><span class="glyphicon glyphicon-remove-sign" ng-click="removeRep($index)"></span></td>
	  </tbody>
	</table>
	</div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
