<section ng-controller="ReplacementsController" ng-init="findOne();findt()">
  <div class="page-header">
    <h1>Edit Replacement</h1>
  </div>
  <div class="col-md-8">
    <form name="replacementForm" class="form-horizontal" ng-submit="update(replacementForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="rep_date">Sostituzione del:</label>
	  <p name="rep_date" id="rep_date" ng-bind="replacement.rep_date | date" class="form-control"></p>
        </div>
	<div class="form-group">
          <label for="rep.hour">Seleziona ora:</label>
          <select name="rep.hour" ng-options="hour as hour for hour in hoursarray" ng-model="rep.hour" id="rep.hour" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.classe">Seleziona classe:</label>
          <select name="rep.classe" ng-options="hour as hour for hour in classarray" ng-model="rep.classe" id="classe" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.absent">Seleziona docente da sostitutire:</label>
          <select name="rep.absent" ng-options="hour.name as hour.name for hour in teachers" ng-model="rep.absent" id="rep.absent" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label for="rep.substitute">Seleziona docente sostituto:</label>
          <select name="rep.substitute" ng-options="hour.name as hour.name for hour in teachers" ng-model="rep.substitute" id="rep.substitute" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <input ng-click="addRep()" value="inserisci" class="btn btn-default">
        </div>
	<div class="form-group">
	   <table class="table table-bordered" ng-if="replacement.daily_reps.length > 0">
	  <thead>
	    <th>Ora</th>
	    <th>Classe</th>
	    <th>Assente</th>
	    <th>Sostituto</th>
	    <th>Delete</th>
	  </thead>
	  <tbody ng-repeat="rep in replacement.daily_reps">
	    <td ng-bind="rep.hour"></td>
	    <td ng-bind="rep.classe"></td>
	    <td ng-bind="rep.absent"></td>
	    <td ng-bind="rep.substitute"></td>
	    <td><input type="checkbox" ng-model="replacement.daily_reps[$index].isActive" ng-change="change($index)"> uncheck to delete</td>
	  </tbody>
	</table>
	</div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4" ng-if="alerts.length > 0">
    <div ng-repeat="alert in alerts">
      <alert  type="success"  role="alert" close="closeAlert($index)" >{{alert.msg}}
    </alert>
    </div>
   <div>
</section>
