<section ng-controller="ReplacementsController" ng-init="findOne();findt()">
  <div class="page-header">
    <h3>Modifica sostituzioini del:{{replacement.rep_date|date:'fullDate'}}</h3>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-12">
    <form name="replacementForm" class="form-horizontal" ng-submit="update(replacementForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="label label-default" for="rep_date">Sostituzione del:</label>
	  <!--  <p name="rep_date" id="rep_date" ng-bind="replacement.rep_date | date" class="form-control"></p>-->
	  <input type="date" name="rep_date" id="rape_date" ng-model="replacement.rep_date" class="form-control" ng-change="checkabsence(replacement.rep_date);availbilityview(replacement.rep_date)">
        </div>
	<div class="form-group">
          <label class="label label-default" for="rep.absent">Seleziona docente da sostitutire:</label>
          <select name="rep.absent" ng-options="hour.name as hour.name for hour in teachers_absent" ng-model="rep.absent" id="rep.absent" class="form-control" ng-change="checkhours(rep.absent,replacement.rep_date)"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label class="label label-default" for="rep.hour">Seleziona ora:</label>
          <select name="rep.hour" ng-options="hour.ora as hour.ora for hour in ab_hours" ng-model="rep.hour" id="rep.hour" class="form-control" ng-change="substitute(rep.hour,replacement.rep_date)"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label class="label label-default" for="rep.classe">Seleziona classe:</label>
          <select name="rep.classe" ng-options="hour.classe as hour.classe for hour in ab_hours" ng-model="rep.classe" id="classe" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label class="label label-default" for="rep.substitute">Seleziona docente sostituto:</label>
          <select name="rep.substitute" ng-options="hour.name as hour.name for hour in sub_teachers" ng-model="rep.substitute" id="rep.substitute" class="form-control"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <input ng-click="addRep()" value="inserisci" class="btn btn-default">
        </div>
	<div class="form-group">
	  <table class="table table-bordered" ng-if="replacement.daily_reps.length > 0">
	    <thead>
	      <th>Ora</th>
	      <th>Classe</th>
	      <th>Assente</th>
	      <th>Sostituto</th>
	      <th>Delete</th>
	    </thead>
	    <tbody ng-repeat="rep in replacement.daily_reps">
	      <td ng-bind="rep.hour"></td>
	      <td ng-bind="rep.classe"></td>
	      <td ng-bind="rep.absent"></td>
	      <td ng-bind="rep.substitute"></td>
	      <td><input type="checkbox" ng-model="replacement.daily_reps[$index].isActive" ng-change="change($index);removeUpdate($index)"> uncheck to delete</td>
	    </tbody>
	  </table>
	</div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4 col-xs-6">
    <label class="label label-primary" for="available" ng-if="availables.length > 0">Vista disposizioni del {{replacement.rep_date| date}}</label> 
    <table class="table table-bordered" ng-if="availables.length > 0">
      <thead>
	<th>Ora</th>
	<th>Docente</th>
	<th>Delete</th>
      </thead>
      <tbody ng-if="available.day === giorno" ng-repeat="available in availables | orderBy:'hour'">
	<td ng-bind="available.hour"></td>
	<td ng-bind="available.teacher"></td>
	<td><span class="glyphicon glyphicon-remove-sign" ng-click="removeAvailable($index)"></span></td>
      </tbody>
    </table>
    <div ng-if="alerts.length > 0">
      <div ng-repeat="alert in alerts">
	<alert  type="success"  role="alert" close="closeAlert($index)" >{{alert.msg}}
	</alert>
      </div>
      <div>
      </div>
</section>
