<section ng-controller="PlanesController" ng-init="findOne()">
  <div class="page-header">
    <h3>Modifica piano di lavoro</h3>
  </div>
  <div class="col-md-8">
    <form name="planeForm" class="form-horizontal" ng-submit="update(planeForm.$valid)" novalidate>
      <fieldset>
	<div class="form-group" show-errors>
          <label class="label label-default"for="classes">Seleziona classe</label>
          <select name="classes" ng-options="c as c for c in classarray |orderBy:c" ng-model="plane.classes" id="classes" class="form-control"  required><option value="">--</option></select>
          <div ng-messages="planeForm.classes.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Plane classes is required.</p>
          </div>
        </div>
	<div class="form-group">
          <label class="label label-default"for="department">Seleziona asse culturale</label>
          <select name="department" ng-options="c as c for c in axis" ng-model="plane.department" id="department" class="form-control"><option value="">--</option></select>
	</div>
	<div class="form-group">
	  <label class="label label-default"for="materia">Disciplina</label>
	  <input type="text" name="materia" ng-model="plane.materia" id="materia" class="form-control">
	</div>
	<div class="form-group">
	  <div ng-switch="files.length > 0">
	    <div ng-switch-when="false">
	      <alert  type="info"  role="alert" ng-repeat="p in plane.content">
		<img ng-src="{{p.iconUrl}}"> {{p.name}}
		<a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" class="btn btn-link pull-right">
		  modifica
	          <span class="glyphicon glyphicon-edit" ></span>
		</a>
	      </alert>
	    </div>
	    <div ng-switch-when="true">
	      <div ng-repeat="file in files">
		<alert type="success" role="alert">
		  <span class="glyphicon glyphicon-ok"></span>
          	  <img ng-src="{{file.iconUrl}}">
		  <a ng-href="{{file.downloadUrl}}">
		    {{file.name}}
		  </a>
		  <span class="pull-right"> rimuovi
	            <span class="glyphicon glyphicon-remove" ng-click="removeFile($index)"></span>
		  </span>
		</alert>
	      </div>
 	    </div>
	  </div>
	</div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
