<section ng-controller="PlanesController" ng-init="findOne()">
  <div class="page-header">
    
  </div>
  <h3 ng-bind="plane.materia"></h3>
  <h3 ng-bind="plane.classes"></h3>
      Data caricamento
      <p ng-bind="plane.updated | date:'mediumDate'"></p>
      Docente
      <p ng-bind="plane.user.lastName"></p>
    <a class="lead" ng-href="{{p.url}}" ng-repeat="p in plane.content"><img ng-src="{{p.iconUrl}}"> {{p.name}}</a>
    <br>
  <div class="pull-right" ng-if="authentication.user._id == plane.user._id">
    <a class="btn btn-primary" ui-sref="planes.edit({planeId: plane._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

</section>
