<section ng-controller="HomeController">
  <div class="row">
    <br>
    <div class="col-md-12 ">
      <div class="well well-lg text-center bann">
	<img ng-src="modules/core/client/img/brand/rep2.png" width="auto" height="auto" class="img-circle" alt="Responsive image" align="left">
        <h1 class="text-center" align="middle">Istituto Statale d'Istruzione Superiore    </h1>
        <h1 class="text-center" align="middle">Caduti della Direttissima   </h1>
	<h4 class="text-center" align="middle">Liceo Scientifico - Amministrazione Finanza e Marketing - Manutenzione e Assistenza Tecnica - Servizi Commerciali </h4>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
	<button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" ng-href="#">
          <img alt="Brand"width="auto" height="auto" ng-src="modules/core/client/img/brand/brand.png">
	</a>
      </div>
      <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav">
	  <li dropdown>
	    <a ng-href="#" dropdown-toggle>
	      <span class="glyphicon glyphicon-tower"></span> La Scuola<span class="caret"></span>
            </a>
	    <ul class="dropdown-menu"  role="menu" ng-controller="RulesController" ng-init="find()">
	      <li class="dropdown-header">L'istituto</li>
	      <li ng-show="!rule.isFrame" ng-repeat="rule in rules">
		<a ui-sref="rules.view({ruleId: rule._id})">
		  <span ng-bind="rule.title">
		  </span>
		</a>
	      </li>
	      <li class="divider"></li>
	      <li class="dropdown-header">Sezioni</li>
	      <li><a ng-href="#">Diurno</a></li>
	      <li><a ng-href="https://sites.google.com/a/isicast.net/serale">Serale</a></li>
	      <li class="divider"></li>
	      <li class="dropdown-header">Organizzazione</li>
	      <li><a ng-href="#">Organigramma</a></li>
	      <li><a ui-sref="teachers.list">Organico docenti</a></li>
	      <li><a ui-sref="classes.list">Consigli di classe</a></li>
	      <li><a ng-href="#">Organico non docenti</a></li>
	    </ul>
	</ul>
	<ul class="nav navbar-nav">
	  <li dropdown>
	    <a ng-href="/#!/" dropdown-toggle><span class="glyphicon glyphicon-blackboard"></span> Didattica
	      <span class="caret"></span></a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a ng-href="http://didattica.isicast.gov.it/moodle">MoodleCast</a></li>
	      <li><a ng-href="http://didattica.isicast.gov.it/dokuwiki/">Isicast wiki</a></li>
	      <li><a ng-href="https://classroom.google.com/">Google Classroom</a></li>
	    </ul>
	  <li><a ng-href="/docs/parents"><span class="glyphicon glyphicon-user"></span> Genitori</a></li>
	  <li><a ui-sref="internships.list"><span class="glyphicon glyphicon-link"></span> P.C.T.O.</a></li>
	  <li><a ng-href="https://sites.google.com/a/isicast.net/serale"><span class="glyphicon glyphicon-education"></span> Serale</a></li>

	  </li>
	</ul>
	<ul class="nav navbar-nav">
	  <li dropdown>
	    <a ng-href="/#!/" dropdown-toggle><span class="glyphicon glyphicon-certificate"></span> Certificazioni
	      <span class="caret"></span></a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a ng-href="http://www.trinitycollege.it/">Trinity</a></li>
	      <li><a ng-href="http://www.cvcl.it/categorie/categoria-64?explicit=SI">CELI</a></li>
	      <li><a ui-sref="docs.ecdl">ECDL</a></li>
	    </ul>
	  </li>
	</ul>
	<ul class="nav navbar-nav">
	  <li dropdown>
	    <a ng-href="/#!/" dropdown-toggle><span class="glyphicon glyphicon-eye-open"></span> Trasparenza
	      <span class="caret"></span></a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a ng-href="http://didattica.isicast.gov.it/wordpress"> Amm.ne Trasparente fino al 22-03-2019</a></li>
	      <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?page_id=45">Albo Pretorio fino 22-03-2019</a></li>
	      <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?p=109">Bacheca Sindacale</a></li>
	      <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=codice-disciplinare">Codice Disciplinare</a></li>
	      <li><a ui-sref="docs.list">Documenti e Circolari fino al 22-03-2019</a></li>
	      <li><a ui-sref="features.list">News</a></li>
	      <li><a ng-href="http://www.isicast.org/si_pub/index.php">Archivio documenti</a></li>
	    </ul>
	  </li>
	</ul>
      </nav>
    </div>
  </div>
  <!-- body start -->
  <div class="row">
    <!-- content start -->
    <div class="col-md-6 col-md-push-3">
     <tabset justified="true">
	<tab heading="News" ng-controller="FeaturesController" ng-init="find()"><home-features></home-features></tab>
	<tab heading="Impegni" ng-controller="DeadlinesController" ng-init="find()"><home-deadlines></home-deadlines></tab>
	<!-- <tab heading="Documenti" ng-controller="DocsController" ng-init="find()"><home-docs></home-docs> -->
	<!-- <pagination total-items="docs.length" boundary-links="true" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" ng-show="docs.length > pageSize"></pagination> -->
	<tab heading="Documenti" ng-controller="DocsController">
	 <div align="middle">	   
	   <a href="https://web.spaggiari.eu/sdg/app/default/comunicati.php?sede_codice=BOII0006&referer=http://www.isicast.gov.it" style="font-size:11px;">
	     <img style="margin-bottom:1px;" alt="logo comunicti e circolari" title="Accesso alla sezione comunicati e circolari" class="thumbnail" ng-src="modules/core/client/img/brand/comunicati.jpeg"> Comunicati e circolari</a>
	   </div>
	</tab>
      </tabset>
    </div> <!-- content end -->
    <!-- lsidemenu start -->
    <div class="col-md-3 col-md-pull-6">
      <ul class="list-group">
	<li class="list-group-item">
          <a ng-href="http://webmaildomini.aruba.it/">
            <span class="glyphicon glyphicon-envelope" >
            </span>  Web mail
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="https://www.google.com/a/isicast.net/">
            <span class="glyphicon glyphicon-cloud" >
            </span>  Google Apps isicast.net
          </a>
	</li>
	<li class="list-group-item">
          <a ui-sref="deadlines.list">
            <span class="glyphicon glyphicon-calendar" >
            </span>  Agenda d'istituto
          </a>
	</li>
	<li class="list-group-item">
	  <a ng-href="#" popover-placement="right" popover-template="popoveRegistro.templateUrl">
            <span class="glyphicon glyphicon-pencil" >
            </span>  Registro on line
          </a>
	</li>
	<li class="list-group-item">
	  <a ng-href="#" popover-placement="right" popover-template="popover.templateUrl">
	    <span class="glyphicon glyphicon-bell">
            </span> Orario scolastico
	  </a>
	</li>
	<li class="list-group-item">
          <a ui-sref="planes.list">
            <span class="glyphicon glyphicon-dashboard" >
            </span> Programmazioni docenti
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://www.isicast.org/biblio2/biblio.htm">
            <span class="glyphicon glyphicon-book" >
            </span> Biblioteca
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://padlet.com/matenoz/qek9g2748m">
            <span class="glyphicon glyphicon-map-marker" >
            </span> Bacheca orientamento
          </a>
	</li>
	<li class="list-group-item">
          <a ui-sref="rules.quest">
            <span class="glyphicon glyphicon-stats" >
            </span> Rilevazioni e monitoraggi
          </a>
	</li>
      </ul>
      <ul class="list-group">
	<li class="list-group-item">
          <a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=ufficio-relazioni-con-il-pubblico">
            <span class="glyphicon glyphicon-globe" >
            </span> U.R.P.
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=orari-di-apetura">
            <span class="glyphicon glyphicon-time" >
            </span> Orari di apertura
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="/adoptions">
            <span class="glyphicon glyphicon-list" >
            </span> Libri di testo
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="https://drive.google.com/drive/folders/0B60wZ_vqmiNfQU1zSjZRSG9QNFk?usp=sharing">
            <span class="glyphicon glyphicon-file" >
            </span> Modulistica
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://didattica.isicast.gov.it/wordpress/?p=150"><span class="glyphicon glyphicon-flash" >
            </span> Assicurazione
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=iban-e-pagamenti-informatici">
            <span class="glyphicon glyphicon-euro" >
            </span> IBAN e pagamenti informatici
          </a>
	</li>
	<li class="list-group-item">
          <a ng-href="http://didattica.isicast.gov.it/wordpress/?p=148">
            <span class="glyphicon glyphicon-credit-card" >
            </span> Fatturazione elettronica
          </a>
	</li>
      </ul>
      <div class="panel-group">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a ng-href="http://didattica.isicast.gov.it/wordpress/?page_id=340" class="thumbnail">
	      <img ng-src="modules/core/client/img/brand/logo_pon.png" alt="pon" width="auto" height="auto" class="img-thumbnail" align="center">
	    </a>
	    <a ng-href="http://www.istruzione.it" class="thumbnail">
	      <img ng-src="modules/core/client/img/brand/miur.png" alt="miur" width="auto" height="auto" class="img-thumbnail" align="center">
	    </a>
	    <a ng-href="http://www.istruzioneer.it" class="thumbnail">
	      <img ng-src="modules/core/client/img/brand/ister.png" alt="usr" width="auto" height="auto" class="img-thumbnail" align="center">
	    </a>
	    <a ng-href="http://bo.istruzioneer.it" class="thumbnail">
	      <img ng-src="modules/core/client/img/brand/csabo.png" alt="csa" width="auto" height="auto" class="img-thumbnail" align="center">
	    </a>
	    <a ng-href="http://www.indire.it" class="thumbnail">
	      <img ng-src="modules/core/client/img/brand/indire.jpg" alt="indire" width="auto" height="auto" class="img-thumbnail" align="center">
	    </a>
	  </div>
	</div>
      </div>
    </div><!-- lsidemenu end -->
    <!-- rsidemenu start-->
    <div class="col-md-3">
      <div class="panel-group">
	<div class="panel panel-default">
          <div class="panel-body">
            <a ng-href="" class="thumbnail">
              <img ng-src="modules/core/client/img/brand/logols.png" width="auto" height="auto" alt="isicast" align="center">
            </a>
            <address class="center-block" style="font-size:large">
              <small>  Via Toscana, 21<br>
		Castiglione dei Pepoli<br>
		40035 Bologna<br>
		<abbr title="Phone">Tel:</abbr> 0534-803511<br>
		<abbr title="Phone">Fax:</abbr>  0534-92004<br>
		<a ng-href="mailto:#">bois009009@istruzione.it</a><br>
		<a ng-href="mailto:#">bois009009@pec.istruzione.it</a><br>
		Cod.Min.: BOIS009009 <br>
		Dirigente Scolastico:<br>
		Dott.ssa Eloisa Denia Cosimo<br></small>
            </address>
          </div>
	</div>
	<div class="panel panel-default">
          <div class="panel-body">
	                <a ng-href="https://web.spaggiari.eu/home/app/default/login.php" class="thumbnail">
              <img  ng-src="modules/core/client/img/brand/classeviva.png" alt="at" width="auto" height="auto" class="img-thumbnail" align="center">
            </a>

            <a ng-href="https://web.spaggiari.eu/sdg/app/default/trasparenza.php?sede_codice=BOII0006&referer=http://www.isicast.gov.it" class="thumbnail">
              <img  ng-src="modules/core/client/img/brand/amministrazione_trasparente2.png" alt="at" width="auto" height="auto" class="img-thumbnail" align="center">
            </a>
            <a ng-href="https://web.spaggiari.eu/sdg/app/default/albo_pretorio.php?sede_codice=BOII0006&referer=http://www.isicast.gov.it" class="thumbnail"> 
	      <img ng-src="modules/core/client/img/brand/albopretorio.png" align="center" width="auto" height="auto" alt="albo" class="img-thumbnail">
            </a>
          </div>  
	</div>
	<div class="panel panel-default">
          <div class="panel-body">   
	    <a class="twitter-timeline" ng-href="https://twitter.com/IsicastNet" data-widget-id="690513587325001728">Tweet di @IsicastNet</a>
	  </div>
	</div>
      </div>
    </div> <!-- rsidemenu end-->
  </div> <!-- body end -->
  <!--footer start -->
  <div class="container text-center">
    <hr />
    <div class="row">
      <div class="col-lg-12">
	<div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#">Chi siamo</a></li>
            <li><a href="https://goo.gl/maps/q7t4nkYqLJN2">Dove siamo</a></li>
          </ul>
	</div>
	<div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#">Dirigente scolastico</a></li>
            <li><a ng-href="#">DSGA</a></li>
          </ul>
	</div>
	<div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#">Informatica-isicast</a></li>
            <li><a ng-href="#">Presentazione</a></li>
          </ul>
	</div>
	<div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li><a ng-href="#">Guida alla navigazione</a></li>
            <li><a href="https://plus.google.com/u/0/100256108509268118556">social@isicast.net</a></li>
          </ul>
	</div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-12">
	<ul class="nav nav-pills nav-justified">
          <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=elenco-siti-tematici">Elenco siti tematici</a></li>
          <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=note-legali">Note Legali</a></li>
          <li><a ng-href="http://didattica.isicast.gov.it/wordpress/?amm-trasparente=privacy">Privacy</a></li>
	</ul>
      </div>
    </div>
  </div>
</section>








