<section ng-controller="ClassesController" ng-init="findOne();find_t()">
  <div class="page-header">
    <h3>Modifica {{classe.nome_classe}}</h3>
  </div>
  <div class="col-md-8 col-xs-12">
    <form name="classeForm" class="form-horizontal" ng-submit="update(classeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="label label-default"for="nome_classe">Nome Classe</label>
          <input name="nome_classe" type="text" ng-model="classe.nome_classe" id="nome_classe" class="form-control" placeholder="Classe" required>
          <div ng-messages="classeForm.nome_classe.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Classe nome_classe is required.</p>
          </div>
        </div>
	<div class="form-group">
          <label class="label label-default"for="indirizzo">Indirizzo</label>
          <select name="indirizzo" ng-model="classe.indirizzo" id="indirizzo" class="form-control" ng-options="o as o for o in indirizzoarray"><option value="">--</option></select>
        </div>
	<div class="form-group">
          <label class="label label-default"for="coordinatore">Coordinatore</label>
          <input name="coordinatore" ng-model="classe.coordinatore" id="coordinatore" class="form-control" placeholder="Coordinatore">
        </div>
	<div class="form-group">
	  <label class="label label-default"for="Docente e Materia">Docente e Materia</label>
          <select name="teacher.name" id="teacher.name"  ng-model="teacher.name" class="form-control" ng-options="teacher.name as teacher.name for teacher in teachers_" ><option value="">--</option></select>
        </div>
	<div class="form-group">
          <select name="teacher.materia" id="teacher.materia"  ng-model="teacher.materia" class="form-control" ng-options="teacher.materia as teacher.materia for teacher in teachers_"><option value="">--</otion></select>
</div>
<div class="form-group">
  <input ng-click="addTeacher()" value="associa alla classe" class="btn btn-default">
</div>
<div class="form-group">
  <table class="table table-bordered" ng-if="classe.teachers.length > 0">
    <thead>
      <tr>
	<th>Docente</th>
	<th>Materia</th>
	<th>Dissocia</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="teacher in classe.teachers">
	<td id="teacher" ng-bind="teacher.name"></td>
	<td id="teacher" ng-bind="teacher.materia"></td>
	<td><input type="checkbox" ng-model="classe.teachers[$index].isActive" ng-change="change($index)">deseleziona per rimuovere</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group">
  <input type="submit" value="Update" class="btn btn-default">
</div>
<div ng-show="error" class="text-danger">
  <strong ng-bind="error"></strong>
</div>
</fieldset>
</form>
</div>
<div class="col-md-4 col-xs-6" ng-if="alerts.length > 0">
  <div ng-repeat="alert in alerts">
    <alert  type="success"  role="alert" close="closeAlert($index)" >{{alert.msg}}
    </alert>
  </div>
<div>
</section>
