<section ng-controller="ClassesController" ng-init="findOne();find_t()">
  <div class="page-header">
    <h3>Modifica {{classe.nome_classe}}</h3>
  </div>
  <div class="col-md-8 col-xs-12">
    <form name="classeForm" class="form-horizontal" ng-submit="update(classeForm.$valid)" novalidate>
      <fieldset>
	<div class="form-group">
	  <span ng-switch="classe.isActive">
	    <label class="label label-default"ng-switch-when="true" for="disable">Disabilita</label>
            <label class="label label-default"ng-switch-when="false" for="disable">Abilita</label>
	  </span>
	  <input name="disable" type="checkbox" ng-model="classe.isActive" ng-change="change()" >
	</div>
        <div class="form-group" show-errors>
          <label class="label label-default"for="nome_classe">Nome Classe</label>
          <input name="nome_classe" type="text" ng-model="classe.nome_classe" id="nome_classe" class="form-control" placeholder="Classe" required>
          <div ng-messages="classeForm.nome_classe.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Classe nome_classe is required.</p>
          </div>
        </div>
	<div class="form-group">
          <label class="label label-default"for="indirizzo">Indirizzo</label>
          <select name="indirizzo" ng-model="classe.indirizzo" id="indirizzo" class="form-control" ng-options="o as o for o in indirizzoarray"><option value="">--</option></select>
        </div>
	<div class="form-group">
	  <label class="label label-default" for="subclass">Sottoclasse</label>
	  <div class="right-addon input-group">
	    <input type="text" name="subclass" ng-model="subclass" class="form-control" id="subclass">
	    <span  class="input-group-addon btn" ng-click="addSubClass()" >
	      <i class="glyphicon glyphicon-save"></i>
	    </span>
	  </div>
	</div>
	<div class="form-group" ng-if="classe.subclasses.length >0">
	  <span class="label label-info">Sottoclassi inserite</span>
	  <ul class="list-group" ng-repeat="subclass in classe.subclasses">
	    <li class="list-group-item list-group-item-info">{{subclass.name}}
	      <span class="glyphicon glyphicon-remove-sign pull-right"  ng-click="removesubclass($index)"></span>
	    </li>
	  </ul>
	</div>
	<div class="form-group" ng-if="subClasses.length >0">
	  <span class="label label-info">Sottoclassi inserite</span>
	  <ul class="list-group" ng-repeat="subclass in subClasses">
	    <li class="list-group-item list-group-item-info">{{subclass.name}}
	      <span class="glyphicon glyphicon-remove-sign pull-right"  ng-click="removeSubClass($index)"></span>
	    </li>
	  </ul>
	</div>
	<div class="form-group">
          <label class="label label-default"for="coordinatore">Coordinatore</label>
          <input name="coordinatore" ng-model="classe.coordinatore" id="coordinatore" class="form-control" placeholder="Coordinatore">
        </div>
	<div class="form-group">
	  <label class="label label-default"for="Docente e Materia">Docente e Materia</label>
          <select name="teacher.name" id="teacher.name"  ng-model="teacher.name" class="form-control" ng-options="teacher.name as teacher.name for teacher in teachers_ |orderBy:'name'" ng-change="choosesubject(teacher.name)"><option value="">--</option></select>
        </div>
	<div class="form-group">
	  <select name="teacher.materia" id="teacher.materia"  ng-model="teacher.materia" class="form-control" ng-options="subject as subject for subject in subjects"><option value="">--</option></select>
	</div>
	<div class="form-group">
	  <input ng-click="addTeacher()" value="associa alla classe" class="btn btn-default">
	</div>
	<div class="form-group">
	  <label class="label label-info" for="table" ng-if="_teachers.length > 0">Nuovi docenti associati</label>
	  <table class="table table-bordered" ng-if="_teachers.length > 0">
	    <thead>
	      <tr>
		<th>Docente</th>
		<th>Materia</th>
		<th>Delete</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="teacher in _teachers">
		<td ng-bind="teacher.name"></td>
		<td ng-bind="teacher.materia"></td>
		<td><span ng-click="removeTeacher($index)" class="glyphicon glyphicon-remove-sign" ></span></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div class="form-group">
	  <label class="label label-default"for="coordinatore" ng-if="classe.teachers.length > 0" >Docecenti associati</label>
	  <table class="table table-bordered" ng-if="classe.teachers.length > 0">
            <thead>
              <tr>
		<th>Docente</th>
		<th>Materia</th>
		<th>Dissocia</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="teacher in classe.teachers">
		<td id="teacher" ng-bind="teacher.name"></td>
		<td id="teacher" ng-bind="teacher.materia"></td>
		<td><span ng-click="removeupdateTeacher($index)" class="glyphicon glyphicon-remove-sign" ></span></td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	<div class="form-group">
	  <input type="submit" value="Update" class="btn btn-default">
	</div>
	<div ng-show="error" class="text-danger">
	  <strong ng-bind="error"></strong>
	</div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4 col-xs-6" ng-if="alerts.length > 0">
    <div ng-repeat="alert in alerts">
      <alert  type="success"  role="alert" close="closeAlert($index)" >{{alert.msg}}
      </alert>
    </div>
    <div>
</section>
