<section ng-controller="ClassesController" ng-init="find()">
  <div class="page-header">
    <h1>Classes</h1>
  </div>
  <div class="list-group col-md-8">
    <a ng-repeat="classe in classes" ui-sref="classes.view({classeId: classe._id})" class="list-group-item">
       <h4>Classe</h4>
       <p class="list-group-item-heading" ng-bind="classe.nome_classe"></p>
       <h4>Indirizzo</h4>
      <p class="list-group-item-text" ng-bind="classe.indirizzo"></p>
      </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="classes.$resolved && !classes.length">
    No classes yet, why don't you <a ui-sref="classes.create">create one</a>?
  </div>
</section>
