<section ng-controller="ClassesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="classe.nome_classe"></h1>
  </div>
  <h4><strong>Indirizzo</strong></h4>
  <p class="lead" ng-bind="classe.indirizzo"></p>
   <h4><strong>Coordinatore:</strong></h4>
  <p class="lead" ng-bind="classe.coordinatore"></p>
   <h4><strong>Consiglio di classe:</strong></h4>
   <ul class="lead" ng-repeat="teacher in classe.teachers|orderBy:'name'">
     <li>{{teacher.name}} - {{teacher.materia}}</li>
   </ul>
   <br>
  <section ng-controller="CtimetablesController">
    <a ui-sref="ctimetables.view({classeId: classe._id})"><h4><span class="glyphicon glyphicon-calendar"></span> Orario settimanale</h4></a>
  </section>
  <br>
  <div class="pull-right" ng-if="check('god', authentication.user.roles)||check('admin',authentication.user.roles)">
  <!-- <div class="pull-right" ng-show="authentication.user._id==classe.user._id">  --> 
   <a class="btn btn-primary" ui-sref="classes.edit({classeId: classe._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>
