<section ng-controller="CtimetablesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="classe.nome_classe"></h1>
  </div>
   <div class="container">
    <div class="row">
  <label for="timetable">Orario settimanale </label>
          <table  class="table table-bordered">
	    <thead > 
	      <tr>
		<th>ora</th>
		<th>lunedi</th>
		<th>martedi</th>
		<th>mercoledi</th>
		<th>giovedi</th>
		<th>venerdi</th>
	    </tr>
	    </thead>
	    <tbody >
	      <tr ng-repeat="timetable in classe.timetable">
		<td ><p>{{timetable.nome_ora}}</p></td>
		 <td><p>{{timetable.lunedi}}</p></td>
		<td><p >{{timetable.martedi}}</p></td>
		<td><p >{{timetable.mercoledi}}</p></td>
		<td><p > {{timetable.giovedi}}</p></td>
		<td><p >{{timetable.venerdi}}</p></td>
	      </tr>
	    </tbody>
	  </table>
       </div>
   </div>
    <div class="pull-right" ng-show="authentication.user._id == classe.user._id">
    <a class="btn btn-primary" ui-sref="ctimetables.edit({classeId: classe._id})">
      <i class="glyphicon glyphicon-edit"></i> modifica
    </a>
  </div>
</section>
