<section ng-controller="FeaturesController" ng-init="findOne()">
  <div class="page-header">
    <h3>Modifica {{feature.title}}</h3>
  </div>
  <div class="col-md-8 col-xs-12">
    <form name="featureForm" class="form-horizontal" ng-submit="update(featureForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="label label-default"for="title">Titolo</label>
          <input name="title" type="text" ng-model="feature.title" id="title" class="form-control" placeholder="Titolo" required>
          <div ng-messages="featureForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Feature title is required.</p>
          </div>
        </div>
	<div class="form-group">
	  <label class="label label-default"for="deadline">Scadenza</label>
          <input type="date" ng-model="f" ng-change="feature.deadline=f.toISOString()" class="form-control" name="deadline" id="deadline">
        </div>
	<div class="form-group">
	  <label class="label label-default"for="priority">Priorità</label>
          <input type="number" ng-model="feature.priority" id="priority" class="form-control" min="1" max="5">
        </div>
        <div class="form-group">
          <label class="label label-default"for="content">Corpo</label>
          <textarea name="content" ng-model="feature.content" id="content" class="form-control" cols="30" rows="10" placeholder="Contenuto"></textarea>
	  <!-- <trix-editor angular-trix name="content"  ng-model="feature.content" id="content" class="trix-content"></trix-editor> -->
        </div>
	<div class="form-group">
	  <label class="label label-default"for="link">Link</label>
          <input type="text" ng-model="feature.link" class="form-control" name="link" id="link">
        </div>
	<div class="form-group">
	  <div ng-switch="files.length > 0">
	    <div ng-switch-when="false">
	      <alert  type="info"  role="alert" ng-repeat="p in feature.img">
		<img ng-src="{{p.iconUrl}}"> {{p.name}}
		<a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" class="btn btn-link pull-right">
		  modifica
	          <span class="glyphicon glyphicon-edit" ></span>
		</a>
	      </alert>
	    </div>
	    <div ng-switch-when="true">
	      <div ng-repeat="file in files">
		<alert type="success" role="alert">
		  <span class="glyphicon glyphicon-ok"></span>
          	  <img ng-src="{{file.iconUrl}}">
		  <a ng-href="{{file.downloadUrl}}">
		    {{file.name}}
		  </a>
		  <span class="pull-right"> rimuovi
	            <span class="glyphicon glyphicon-remove" ng-click="removeFile($index)"></span>
		  </span>
		</alert>
	      </div>
 	    </div>
	  </div>
	</div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
