<section ng-controller="FeaturesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Feature</h1>
  </div>
  <div class="col-md-8 col-xs-12">
    <form name="featureForm" class="form-horizontal" ng-submit="update(featureForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="feature.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="featureForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Feature title is required.</p>
          </div>
        </div>
	<div class="form-group">
	  <label for="deadline">Scadenza</label>
          <input type="date" ng-model="feature.deadline" class="form-control" name="deadline" id="deadline">
        </div>
	<div class="form-group">
	  <label for="priority">Priorità</label>
          <input type="number" ng-model="feature.priority" id="priority" class="form-control" min="1" max="5">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="feature.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
	<div class="form-group">
	  <label for="link">Link</label>
          <input type="text" ng-model="feature.link" class="form-control" name="link" id="link">
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
