<div class="panel-group" ng-repeat="feature in features|orderBy:'-priority'">
  <div ng-if="compareDates(pre_dead,feature.deadline)" class="panel panel-default">
    <div class="panel-heading">
       <h5 ng-bind="feature.title" class="panel-title"></h5>
    </div>
    <div class="panel-body">
      <img ng-src="{{feature.img}}" style="padding-right:20px" class="img-circle" alt="Responsive image" align="left">
      <p ng-bind="feature.content" class="panel-content"></p>
      <a  ng-href="{{feature.link}}"><button  class="btn btn-xs btn-info pull-right" >link</button></a>
    </div>
    <div class="panel-footer">
      <small>
	<span ng-bind="feature.created | date:'medium'"></span>
      </small> 
    </div>
</div>

