<div class="list-group">
        <a data-ng-repeat="feature in features" ui-sref="features.view({featureId: feature._id})" class="list-group-item">
                        <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="feature.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="feature.user.displayName"></span>
                        </small>
                        <h4 class="list-group-item-heading" data-ng-bind="feature.name"></h4>
        </a>
    </div>

