<section ng-controller="FeaturesController" ng-init="findOne()">
  <div class="page-header">
    <h3 ng-bind="feature.title"></h3>
  </div>
  <div>
    <small>
      <em class="text-muted">
	Posted on
	<span ng-bind="feature.created | date:'mediumDate'"></span>
	by
	<span ng-bind="feature.user.displayName"></span>
      </em>
    </small>
    <img ng-repeat="p in feature.img" ng-src="{{p.downloadUrl}}" style="padding-right:20px" class="img-circle" alt="Responsive image" align="left">
    <p class="lead" ng-bind="feature.content"></p>
   <br>
    <a href="{{feature.link}}"><button  class="btn btn-link" >maggiori info...</button></a>
  </div>
  <br>
  <div class="pull-right" ng-if="check('public', authentication.user.roles) || check('admin', authentication.user.roles)">
    <a class="btn btn-primary" ui-sref="features.edit({featureId: feature._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>
