<section ng-controller="Class_timetablesController" ng-init="findOne();findt()">
  <div class="page-header">
    <h1>Edit Class_timetable</h1>
  </div>
  <div class="col-md-12">
    <form name="class_timetableForm" class="form-horizontal" ng-submit="update(class_timetableForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="nome_classe">Nome_Classe</label>
          <input name="nome_classe" type="text" ng-model="class_timetable.nome_classe" id="nome_classe" class="form-control" placeholder="Nome_Classe" required>
          <div ng-messages="class_timetableForm.nome_classe.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Class_timetable nome_classe is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="timeable">Timetable </label>
          <table  class="table table-bordered"  name="timetable" id="timetable" ng-model="timetable">
	    <thead > 
	      <tr>
		<th>ora</th>
		<th>lunedi</th>
		<th>martedi</th>
		<th>mercoledi</th>
		<th>giovedi</th>
		<th>venerdi</th>
	    </tr>
	    </thead>
	    <tbody >
	      <tt><tt>
	       <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[0].nome_ora"><p></td>
		<td><select name="timetable.lunedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[0].lunedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[0].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[0].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[0].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[0].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
	        <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[1].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[1].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[1].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[1].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[1].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[1].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		 <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[2].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[2].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[2].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[2].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[2].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[2].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		  <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[3].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[3].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[3].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[3].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[3].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[3].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		   <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[4].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[4].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[4].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[4].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[4].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[4].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		    <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[5].nome_ora" ></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[5].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[5].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[5].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[5].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[5].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		     <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[6].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[6].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[6].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[6].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[6].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[6].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
		      <tr>
		 <td><p name="timetable.nome_ora" id="timetable" class="form-control" ng-bind="class_timetable.timetable[7].nome_ora"></p></td>
		<td><select  name="timetable.lunedi" id="timetable" class="form-control"  ng-model="class_timetable.timetable[7].lunedi" ng-options="o as o for o in teachers_()" ></select></td>
		<td><select  name="timetable.martedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[7].martedi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.mercoledi"  id="timetable" class="form-control"  ng-model="class_timetable.timetable[7].mercoledi" ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.giovedi" id="timetable" class="form-control" ng-model="class_timetable.timetable[7].giovedi"  ng-options="o as o for o in teachers_()"></select></td>
		<td><select  name="timetable.venerdi" id="timetable" class="form-control" ng-model="class_timetable.timetable[7].venerdi"  ng-options="o as o for o in teachers_()"></select></td>
	      </tr>
	    </tbody>
	  </table>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
