<section ng-controller="Class_timetablesController" ng-init="find()">
  <div class="page-header">
    <h1>Class_timetables</h1>
  </div>
  <div >
    <a ng-repeat="class_timetable in class_timetables" ui-sref="class_timetables.view({class_timetableId: class_timetable._id})" class="btn btn-link">
       <h5  ng-bind="class_timetable.nome_classe"></h5>
      </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="class_timetables.$resolved && !class_timetables.length">
    No class_timetables yet, why don't you <a ui-sref="class_timetables.create">create one</a>?
  </div>
</section>
