.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.bann {
   margin: 0;
   background-image: url('../img/brand/bann2.jpg');
   background-repeat:no-repeat;
}

a:link{
        color:grey;
}
a:active {
    color: grey;
}
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color :gray;
}
.grid {
    width: 800px;
   height: 250px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

table{
       table-layout: fixed;
}

th, td {
    overflow: hidden;
     color :gray;
}